{# menu de droite ici principalement reseaux sociaux #}

<ul class="nav navbar-nav aligne-droite" >

    <li class="nav-item">
        <a class="nav-link" href="#"><img src="{{asset('images/homepage.svg')}}" /></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="{{asset('images/facebook.svg')}}" /></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="{{asset('images/twitter.svg')}}" /></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="{{asset('images/github.svg')}}" /></a>
    </li>
    <li class="nav-item" >
        <a href="#" class="nav-link"  id="dropD"  ><img src="{{asset('images/arrow_drop_down.svg')}}" /></a>
    </li>

</ul>
