{% extends 'base.html.twig' %}
{# form_theme form 'form/fields.html.twig' #}

{% block page_heading %}Categorie - {{action}} {% endblock %}




{% block body %}
    <div class="row">
        {{form_start(form, {'attr': {'class': 'sf-form col-lg-offset-3 col-lg-6 '}} )}}
        {{form_row(form.nom)}}
        <div class="btn-group col-lg-offset-2">

            {{form_widget(form.ajout,{'attr': {'': ''}} )}}
            {% if form.supprimer is defined %}
                {{form_widget(form.supprimer,{'attr': {'': ''}} )}}
            {% endif %}

        </div>
        {{form_end(form)}}


    </div>

{% endblock %}


