{% extends 'base.html.twig' %}
{% block page_heading %} Liste des Catégories (ADMIN){% endblock %}

{% block body %}

    {% for categorie in categories|sort%}
        <div class="row">
            <div class="col-lg-offset-3 col-lg-4 liste">
                <a href='{{path('categorie_detail',{'id':categorie.id})}}'> {{categorie.nom}}</a>
            </div>
            <div class="col-lg-2 btn-group">
                <a class="btn btn-default btn-xs liste-btn" href="{{path('categorie_detail',{'id':categorie.id})}}" role="button">Detail</a>
                <a class="btn btn-primary btn-xs liste-btn" href="{{path('categorie_update',{'id':categorie.id})}}" role="button">Modifier</a>
                <a class="btn btn-danger btn-xs liste-btn" href="{{path('categorie_delete',{'id':categorie.id})}}" role="button">supprimer</a>

            </div>
        </div>
    {% endfor %}

{% endblock %}

