{% extends 'base.html.twig' %}
{% block page_heading %} Liste des Participants (ADMIN){% endblock %}

{% block body %}

    {% for participant in participants|sort%}
        <div class="row">
            <div class="col-lg-offset-3 col-lg-4 liste">
                <a href='{{path('participant_detail',{'id':participant.id})}}'> {{participant.nom}}</a>
            </div>
            <div class="col-lg-2 btn-group">
                <a class="btn btn-default btn-xs liste-btn" href="{{path('participant_detail',{'id':participant.id})}}" role="button">Detail</a>
                <a class="btn btn-primary btn-xs liste-btn" href="{{path('admin_participant_update',{'id':participant.id})}}" role="button">Modifier</a>
                <a class="btn btn-danger btn-xs liste-btn" href="{{path('admin_participant_delete',{'id':participant.id})}}" role="button">supprimer</a>

            </div>
        </div>
    {% endfor %}

{% endblock %}

