{% extends 'base.html.twig' %}
{% block  page_heading %}  {{event.nom }}  :  Détail {% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row info">
            <div class="col-lg-offset-2 col-lg-2">Debut: {{event.debut|date("d/m/y")}} </div>
            <div class="col-lg-2">
                fin: {% if event.fin is not null %}
                {{event.debut|date("d/m/y")}}
                {% else%} n/a {% endif %}
                    </div>

                    <div class="col-lg-4"> Categorie: 
                        {% if event.categorie is not null %}
                            <a href="{{path('categorie_list')}}"> {{event.categorie}}</a>
                        {% else%} n/a{% endif %}</div>

                </div>
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-1 col-xs-offset-1 col-xs-1">
                        <img src="{{event.image}}" /> 
                    </div>
                    <div class="col-lg-offset-1 col-lg-9 col-xs-offset-1 col-xs-9">
                        <em>Personnes inscrites</em>
                        <p>
                            {% for participant in event.participants %}
                                 <a href="{{path('participant_detail', {'id':participant.id})}}"> 
                                    {{participant.nom}} {{participant.prenom}}
                                </a>, 
                            {% endfor %}
                        </p>

                    </div>
                </div>
                <div class="row description">
                    <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
                        {{event.description}}


                    </div>
                </div>
            </div>



            {% endblock %}

