{% extends 'base.html.twig' %}
{% block  page_heading %}  {{participant.nom }}  {{participant.prenom }} :  Détail {% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-1 col-xs-offset-1 col-xs-1">
                            <img src="{{participant.image}}" /> 
                        </div>
                        <div class="col-lg-offset-1 col-lg-9 col-xs-offset-1 col-xs-9">
                            <div class="row detail">
                                <div class="col-lg-2 ">Nom: </div>
                                <div class="col-lg-9">{{participant.nom }}</div> 
                            </div>
                            <div class="row detail">
                                <div class="col-lg-2">Prenom: </div>
                                <div class="col-lg-9">{{participant.prenom }}</div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10  col-xs-offset-1 col-xs-1">
                            <br />Présent au évènements suivants:
                            <p>
                                {% for event in participant.events %}
                                    <a href="{{path('event_detail',{'id':event.id})}}">{{event.nom}}</a> <span class="date">({{event.debut|localizeddate('medium','none')}}) </span> 
                                   &nbsp; // &nbsp;
                                    {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

